
body {
	background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );

}

a {	
}

header {
	height: 100px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e9f4+0,d8e1ee+10,ccd4e4+25,ccd5e6+37,cdd6e9+50,bbc8df+51,d6e2ee+83,e3f0f5+100 */
background: #e0e9f4; /* Old browsers */
background: -moz-linear-gradient(top, #e0e9f4 0%, #d8e1ee 10%, #ccd4e4 25%, #ccd5e6 37%, #cdd6e9 50%, #bbc8df 51%, #d6e2ee 83%, #e3f0f5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e0e9f4 0%,#d8e1ee 10%,#ccd4e4 25%,#ccd5e6 37%,#cdd6e9 50%,#bbc8df 51%,#d6e2ee 83%,#e3f0f5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e0e9f4 0%,#d8e1ee 10%,#ccd4e4 25%,#ccd5e6 37%,#cdd6e9 50%,#bbc8df 51%,#d6e2ee 83%,#e3f0f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e9f4', endColorstr='#e3f0f5',GradientType=0 ); /* IE6-9 */
}

form {
	background-color: #ffffff;
	padding: 20px;
	display: block;
	-webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.50);
	box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.50);
}

form input {
	background-color: #ffffff;
}


button[type="submit"]{
	background-color: #B1cc74;
	border-color: #B1cc74;
}


/* botones */

.btn-primary {

}

.btn-primary:hover {

}

/*listado de categoría*/

.elemento {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #ffffff;
}

.elemento:last-of-type {
	border-bottom: 1px solid black;
}



/* mensaje de error */
.flash {
	position: absolute;
	width: 100%;
	padding: 5px 0;
	margin-top: -107px;
	color: white;
}
.error {
	background-color: red;
}

.notificacion {
	background-color: green;
}

